html
    head    
        link(rel='stylesheet', href='/assets/iframe.css')
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        span#apiKey(hidden)= apiKey
        div.outer
            div.container
                div.signature
                    img.userImage(src="/assets/default.png", alt="Signature")

        script(src="/lib/jquery.min.js")
        script(src="/lib/underscore.js")
        script(src="/iframe.js")
        script.
            localStorage.getItem('vurify:userKey')
            .done(function(id){
                if(id === null){
                    console.log("No User Key")
                }
                else {
                    let sig = axios.get('/signatures/' + id)
                    .then(function (response) {
                        console.log(response);
                        $('img.userImage').attr('src', response.data.image)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            });

