extends layout.pug
block content
    div.text-center(class="mt-5")
        h3 Create Your Signature
        div.vurify
            div.row
                div.col
                    canvas#vurifycanvas(class="mb-1", width=300, height=100)
            div.row
                div.col
                    button(type="button", class="btn btn-primary btn-block", onclick="signaturePad.clear()") Clear  
                    
                div.col
                    button(type="button", class="btn btn-success btn-block", onclick="save()") Save                   
block styles
    style. 
        .vurify {
            width: 304px;
            height: 150px;
            margin: auto;
        }
        #vurifycanvas{
            background-color: #fdfdfd;  
            border: solid;
            border-width: 1px;
            border-radius: 5px;
            border-color: #303030;
        }
block scripts
    script. 
            const canvas = document.querySelector("canvas");
            const signaturePad = new SignaturePad(canvas);
            var data = "";
            var id = localStorage.getItem('vurify:userKey')

            if(id === null){
                signaturePad.clear();
            }
            else {
                let sig = axios.get('/signatures/' + id)
                .then(function (response) {
                    signaturePad.fromData(response.data.signature)
                })
                .catch(function (error) {
                    console.log(error);
                    signaturePad.clear();
                });
            }

            function save() {
                let userKey = Math.floor(Math.random() * 100000000);
                localStorage.setItem('vurify:userKey', userKey);

                let data = signaturePad.toData();
                let image = signaturePad.toDataURL();

                axios.post('/signatures', {
                    "_id": `${userKey}`,
                    "created":"01/01/2022",
                    "apiKey":"122333444455555",
                    "domain":"localhost",
                    "origin":"http://localhost:3030",
                    "signature": data,
                    "image":image
                })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
