.header {
  padding: 10px;
  height: 90px;
  background-image: url("background.png");
  color: white;
}
a {
  color: lightblue;
  margin: 5px;
}
a:hover {
  color: white;
}
.footer {
  padding: 5px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #f1f1f1;
}